#
# Fix the branch non-expansion bug
#
setopt prompt_subst
setopt autocd

#
# Initialize antibody and load bundles
#
source <(antibody init)
while read bundle; do
  antibody bundle "${bundle}"
done <<EOF
{% for bundle in packages.antibody %}
    {{ bundle }}
{%endfor%}
EOF
