
#
# Default environment variables
#
export PATH="/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/X11/bin:{{ zsh.dotfile_path }}/bin"
export MANPATH="$MANPATH"
export DOT_ROOT="{{ zsh.dotfile_path }}"


#
# Aliases
#
alias reload!='. ~/.zshrc'
alias sudo='sudo ' # Fixes sudo + alias bug

# Changing working directory
cd() { builtin cd "$@"; ls; }               # Always list contents upon 'cd'
alias ~="cd ~"                              # ~: Go Home
alias cd..='cd ../'                         # Go back 1 directory level
alias ..='cd ../'                           # Go back 1 directory level
alias ...='cd ../../'                       # Go back 2 directory levels
alias .3='cd ../../../'                     # Go back 3 directory levels
alias .4='cd ../../../../'                  # Go back 4 directory levels
alias .5='cd ../../../../../'               # Go back 5 directory levels
alias .6='cd ../../../../../../'            # Go back 6 directory levels

# Various other stuff
alias c='clear'                             # Clear terminal
alias cwd='basename "$(pwd)" | tr -d "\n"'  # Copy current working directory
alias path='echo -e ${PATH//:/\\n}'         # Echo all executable Paths


#
# Initialize auto-completion system
#
autoload -U compinit
compinit

# matches case insensitive for lowercase
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}'

# pasting with tabs doesn't perform completion
zstyle ':completion:*' insert-tab pending


# From http://dotfiles.org/~_why/.zshrc
# Sets the window title nicely no matter where you are
function title() {
  # escape '%' chars in $1, make nonprintables visible
  a=${(V)1//\%/\%\%}

  # Truncate command, and join lines.
  a=$(print -Pn "%40>...>$a" | tr -d "\n")

  case $TERM in
  screen)
    print -Pn "\ek$a:$3\e\\" # screen title (in ^A")
    ;;
  xterm*|rxvt)
    print -Pn "\e]2;$2\a" # plain xterm title ($3 for pwd)
    ;;
  esac
}


#
# Load the rest of ZSH config
#
for zshrc in $(find -H "${DOT_ROOT}" -maxdepth 2 -name '*.zshrc'); do
  echo "Loading $zshrc"
  source "$zshrc"
done

if [ -f "${HOME}/.localrc" ]; then
  source "${HOME}/.localrc"
fi
