; Prevent npm from installing in /usr/local, use ~/.npm instead
; so we will also need to move npm cache to a more appropriate place
prefix = {{ nodejs.npm_prefix }}
cache  = {{ nodejs.npm_prefix }}/cache
